{% extends 'base.html' %}
{% block tittle %}
Carta
{% endblock %}
{% block section %}
 nuestra carta virtual
{% endblock %}
{% block content %}
<div class="row flex-row g-3">
{% for producto in productos %}
    <div class="col-12 col-mg-6 col-lg-4">
    <div class="card" style="width: 18rem;">
        <img src={{producto.img}} class="card-img-top" alt="...">
        <div class="card-body">
        <h5 class="card-title">{{producto.name}}</h5>
        <p class="card-text">{{producto.description}}</p>
        <a href="#" class="btn btn-primary">Ordenar</a>
        </div>
    </div>
    </div>
    {% endfor %}
</div>
{% endblock %}